.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  height: calc(90%);
  width: 100%;
  max-width: 95%;
}

.modal-backdrop {
  background-color: $myf-orange;
}

.modal-backdrop.show{
  opacity: 1!important;
}

.modal-header {
  border-bottom: 0;
  opacity: 1;

  img {
    float: right;
    cursor: pointer;
  }
}

.modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
  background-color: white;
}

.modal-body {
  opacity: 1;

  .menu-header-container{
  height: 100%;

    #menu-header {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;

      a {
        font-family: 'opificio';
        color: white;
        text-transform: uppercase;
      }
    }
  }
}

.modal-footer {
  border-top: 0;
  opacity: 1;
}

/* Style the header */
.header {
  padding: 10px 16px;
  position: fixed;
  width: 100%;
  z-index: 99;
  background-color: white;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
